extends layout

block content
  div(class="round") Round of 16
    div(class="match" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="match" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="match" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="match" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="match" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="match" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="match" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="match" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
  div(class="round") Quarter-finals
    div(class="matchQuarter" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="matchQuarter" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="matchQuarter" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="matchQuarter" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
  div(class="round") Semi-finals
    div(class="matchSemi" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
    div(class="matchSemi" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
  div(class="round") Final
    div(class="matchFinal" style="height: 120px;")
        div(class="teamContainer np" style="top: 50px;")
            div(class="team" data-teamid="1" data-resultid="team-1")
                div(class="flaglabel")
                    img(src="images/BRA.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Brazil
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-1")
                    input(type="text" placeholder="FT")
            div(class="team" data-teamid="2" data-resultid="team-2")
                div(class="flaglabel")
                    img(src="images/CRO.svg.png" height="50" width="50")
                div(class="countrylabel")
                    span Croatia
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="P")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="OT")
                div(class="score" data-resultid="result-2")
                    input(type="text" placeholder="FT")
  //- br
  //- br
  //- br
  //- div
  //-   table#test
  //-     thead
  //-       tr
  //-         td(colspan=3)
  //-         td FT
  //-         td OT
  //-         td P
  //-     tbody
  //-       tr
  //-         td 
  //-             img(src="images/BRA.svg.png" height="50" width="50")
  //-         td(style="width: 20px")
  //-                 &nbsp;
  //-         td#team1
  //-             p="Brazil"
  //-         td
  //-           input(id="inputmatchpred_49_1_FT", type="text", name="game_49_1_FT")
  //-         td
  //-           input(id="inputmatchpred_49_1_OT", type="text", name="game_49_1_OT", readonly)
  //-         td
  //-           input(id="inputmatchpred_49_1_P", type="text", name="game_49_1_P", readonly)
  //-       tr
  //-         td 
  //-             img(src="images/CRO.svg.png" height="50" width="50")
  //-         td(style="width: 20px")
  //-                 &nbsp;
  //-         td#team1
  //-             p="Croatia"
  //-         td 
  //-           input(id="inputmatchpred_49_2_FT", type="text", name="game_49_2_FT")
  //-         td
  //-           input(id="inputmatchpred_49_2_OT", type="text", name="game_49_2_OT", readonly)
  //-         td
  //-           input(id="inputmatchpred_49_2_P", type="text", name="game_49_2_P", readonly)