extends layout

block content
  h1 Fill in your final stage prediction

  form(name="finalStageForm" method="post" action="/finalstageresult")  
      input(type="submit" id="finalStageButton")
      div(class="round") Round of 16
        div(class="match" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel")
                        img(src="images/BRA.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Brazil
                    div(class="score" data-resultid="result-1")
                        label P
                        input(type="number" id="R16_P1" name="BRA_P1" min="0" max="20" onchange="myFunction('P', 'R16_P1', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label OT
                        input(type="number" id="R16_OT1" name="BRA_OT1" min="0" max="20" onchange="myFunction('OT', 'R16_OT1', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label FT
                        input(type="number" id="R16_FT1" name="BRA_FT1" min="0" max="20" onchange="myFunction('FT', 'R16_FT1', 'QF')")
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel")
                        img(src="images/CHI.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Chile
                    div(class="score" data-resultid="result-2")
                        label P
                        input(type="number" id="R16_P2" name="CHI_P2" min="0" max="20" onchange="myFunction('P', 'R16_P2', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label OT
                        input(type="number" id="R16_OT2" name="CHI_OT2" min="0" max="20" onchange="myFunction('OT', 'R16_OT2', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label FT
                        input(type="number" id="R16_FT2" name="CHI_FT2" min="0" max="20" onchange="myFunction('FT', 'R16_FT2', 'QF')")
        div(class="match" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel")
                        img(src="images/COL.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Colombia
                    div(class="score" data-resultid="result-1")
                        label P
                        input(type="number" id="R16_P3" name="COL_P3" min="0" max="20" onchange="myFunction('P', 'R16_P3', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label OT
                        input(type="number" id="R16_OT3" name="COL_OT3" min="0" max="20" onchange="myFunction('OT', 'R16_OT3', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label FT
                        input(type="number" id="R16_FT3" name="COL_FT3" min="0" max="20" onchange="myFunction('FT', 'R16_FT3', 'QF')")
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel")
                        img(src="images/URU.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Uruguay
                    div(class="score" data-resultid="result-2")
                        label P
                        input(type="number" id="R16_P4" name="URU_P4" min="0" max="20" onchange="myFunction('P', 'R16_P4', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label OT
                        input(type="number" id="R16_OT4" name="URU_OT4" min="0" max="20" onchange="myFunction('OT', 'R16_OT4', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label FT
                        input(type="number" id="R16_FT4" name="URU_FT4" min="0" max="20" onchange="myFunction('FT', 'R16_FT4', 'QF')")
        div(class="match" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel")
                        img(src="images/FRA.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span France
                    div(class="score" data-resultid="result-1")
                        label P
                        input(type="number" id="R16_P5" name="FRA_P5" min="0" max="20" onchange="myFunction('P', 'R16_P5', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label OT
                        input(type="number" id="R16_OT5" name="FRA_OT5" min="0" max="20" onchange="myFunction('OT', 'R16_OT5', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label FT
                        input(type="number" id="R16_FT5" name="FRA_FT5" min="0" max="20" onchange="myFunction('FT', 'R16_FT5', 'QF')")
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel")
                        img(src="images/NGA.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Nigeria
                    div(class="score" data-resultid="result-2")
                        label P
                        input(type="number" id="R16_P6" name="NGA_P6" min="0" max="20" onchange="myFunction('P', 'R16_P6', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label OT
                        input(type="number" id="R16_OT6" name="NGA_OT6" min="0" max="20" onchange="myFunction('OT', 'R16_OT6', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label FT
                        input(type="number" id="R16_FT6" name="NGA_FT6" min="0" max="20" onchange="myFunction('FT', 'R16_FT6', 'QF')")
        div(class="match" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel")
                        img(src="images/GER.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Germany
                    div(class="score" data-resultid="result-1")
                        label P
                        input(type="number" id="R16_P7" name="GER_P7" min="0" max="20" onchange="myFunction('P', 'R16_P7', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label OT
                        input(type="number" id="R16_OT7" name="GER_OT7" min="0" max="20" onchange="myFunction('OT', 'R16_OT7', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label FT
                        input(type="number" id="R16_FT7" name="GER_FT7" min="0" max="20" onchange="myFunction('FT', 'R16_FT7', 'QF')")
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel")
                        img(src="images/ALG.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Algeria
                    div(class="score" data-resultid="result-2")
                        label P
                        input(type="number" id="R16_P8" name="ALG_P8" min="0" max="20" onchange="myFunction('P', 'R16_P8', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label OT
                        input(type="number" id="R16_OT8" name="ALG_OT8" min="0" max="20" onchange="myFunction('OT', 'R16_OT8', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label FT
                        input(type="number" id="R16_FT8" name="ALG_FT8" min="0" max="20" onchange="myFunction('FT', 'R16_FT8', 'QF')")
        div(class="match" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel")
                        img(src="images/NED.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Netherland
                    div(class="score" data-resultid="result-1")
                        label P
                        input(type="number" id="R16_P9" name="NED_P9" min="0" max="20" onchange="myFunction('P', 'R16_P9', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label OT
                        input(type="number" id="R16_OT9" name="NED_OT9" min="0" max="20" onchange="myFunction('OT', 'R16_OT9', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label FT
                        input(type="number" id="R16_FT9" name="NED_FT9" min="0" max="20" onchange="myFunction('FT', 'R16_FT9', 'QF')")
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel")
                        img(src="images/MEX.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Mexico
                    div(class="score" data-resultid="result-2")
                        label P
                        input(type="number" id="R16_P10" name="MEX_P10" min="0" max="20" onchange="myFunction('P', 'R16_P10', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label OT
                        input(type="number" id="R16_OT10" name="MEX_OT10" min="0" max="20" onchange="myFunction('OT', 'R16_OT10', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label FT
                        input(type="number" id="R16_FT10" name="MEX_FT10" min="0" max="20" onchange="myFunction('FT', 'R16_FT10', 'QF')")
        div(class="match" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel")
                        img(src="images/CRC.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Costa Rica
                    div(class="score" data-resultid="result-1")
                        label P
                        input(type="number" id="R16_P11" name="CRC_P11" min="0" max="20" onchange="myFunction('P', 'R16_P11', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label OT
                        input(type="number" id="R16_OT11" name="CRC_OT11" min="0" max="20" onchange="myFunction('OT', 'R16_OT11', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label FT
                        input(type="number" id="R16_FT11" name="CRC_FT11" min="0" max="20" onchange="myFunction('FT', 'R16_FT11', 'QF')")
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel")
                        img(src="images/GRE.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Greece
                    div(class="score" data-resultid="result-2")
                        label P
                        input(type="number" id="R16_P12" name="GRE_P12" min="0" max="20" onchange="myFunction('P', 'R16_P12', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label OT
                        input(type="number" id="R16_OT12" name="GRE_OT12" min="0" max="20" onchange="myFunction('OT', 'R16_OT12', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label FT
                        input(type="number" id="R16_FT12" name="GRE_FT12" min="0" max="20" onchange="myFunction('FT', 'R16_FT12', 'QF')")
        div(class="match" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel")
                        img(src="images/ARG.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Argentina
                    div(class="score" data-resultid="result-1")
                        label P
                        input(type="number" id="R16_P13" name="ARG_P13" min="0" max="20" onchange="myFunction('P', 'R16_P13', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label OT
                        input(type="number" id="R16_OT13" name="ARG_OT13" min="0" max="20" onchange="myFunction('OT', 'R16_OT13', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label FT
                        input(type="number" id="R16_FT13" name="ARG_FT13" min="0" max="20" onchange="myFunction('FT', 'R16_FT13', 'QF')")
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel")
                        img(src="images/SUI.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Switzerland
                    div(class="score" data-resultid="result-2")
                        label P
                        input(type="number" id="R16_P14" name="SUI_P14" min="0" max="20" onchange="myFunction('P', 'R16_P14', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label OT
                        input(type="number" id="R16_OT14" name="SUI_OT14" min="0" max="20" onchange="myFunction('OT', 'R16_OT14', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label FT
                        input(type="number" id="R16_FT14" name="SUI_FT14" min="0" max="20" onchange="myFunction('FT', 'R16_FT14', 'QF')")
        div(class="match" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel")
                        img(src="images/BEL.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span Belgia
                    div(class="score" data-resultid="result-1")
                        label P
                        input(type="number" id="R16_P15" name="BEL_P15" min="0" max="20" onchange="myFunction('P', 'R16_P15', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label OT
                        input(type="number" id="R16_OT15" name="BEL_OT15" min="0" max="20" onchange="myFunction('OT', 'R16_OT15', 'QF')" disabled)
                    div(class="score" data-resultid="result-1")
                        label FT
                        input(type="number" id="R16_FT15" name="BEL_FT15" min="0" max="20" onchange="myFunction('FT', 'R16_FT15', 'QF')")
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel")
                        img(src="images/USA.svg.png" height="50" width="50")
                    div(class="countrylabel")
                        span USA
                    div(class="score" data-resultid="result-2")
                        label P
                        input(type="number" id="R16_P16" name="USA_P16" min="0" max="20" onchange="myFunction('P', 'R16_P16', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label OT
                        input(type="number" id="R16_OT16" name="USA_OT16" min="0" max="20" onchange="myFunction('OT', 'R16_OT16', 'QF')" disabled)
                    div(class="score" data-resultid="result-2")
                        label FT
                        input(type="number" id="R16_FT16" name="USA_FT16" min="0" max="20" onchange="myFunction('FT', 'R16_FT16', 'QF')")
      div(class="round") Quarter-finals
        div(class="matchQuarter" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel QF1" id="flaglabel_QF1")
                    div(class="countrylabel QF1" id="countrylabel_QF1")
                    div(class="score" id="scoreP_QF1")
                        label P
                    div(class="score" id="scoreOT_QF1")
                        label OT
                    div(class="score" id="scoreFT_QF1")
                        label FT
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel QF2" id="flaglabel_QF2")
                    div(class="countrylabel QF2" id="countrylabel_QF2")
                    div(class="score" id="scoreP_QF2")
                        label P
                    div(class="score" id="scoreOT_QF2")
                        label OT
                    div(class="score" id="scoreFT_QF2")
                        label FT
        div(class="matchQuarter" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel QF3" id="flaglabel_QF3")
                    div(class="countrylabel QF3" id="countrylabel_QF3")
                    div(class="score" id="scoreP_QF3")
                        label P
                    div(class="score" id="scoreOT_QF3")
                        label OT
                    div(class="score" id="scoreFT_QF3")
                        label FT
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel QF4" id="flaglabel_QF4")
                    div(class="countrylabel QF4" id="countrylabel_QF4")
                    div(class="score" id="scoreP_QF4")
                        label P
                    div(class="score" id="scoreOT_QF4")
                        label OT
                    div(class="score" id="scoreFT_QF4")
                        label FT
        div(class="matchQuarter" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel QF5" id="flaglabel_QF5")
                    div(class="countrylabel QF5" id="countrylabel_QF5")
                    div(class="score" id="scoreP_QF5")
                        label P
                    div(class="score" id="scoreOT_QF5")
                        label OT
                    div(class="score" id="scoreFT_QF5")
                        label FT
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel QF6" id="flaglabel_QF6")
                    div(class="countrylabel QF6" id="countrylabel_QF6")
                    div(class="score" id="scoreP_QF6")
                        label P
                    div(class="score" id="scoreOT_QF6")
                        label OT
                    div(class="score" id="scoreFT_QF6")
                        label FT
        div(class="matchQuarter" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel QF7" id="flaglabel_QF7")
                    div(class="countrylabel QF7" id="countrylabel_QF7")
                    div(class="score" id="scoreP_QF7")
                        label P
                    div(class="score" id="scoreOT_QF7")
                        label OT
                    div(class="score" id="scoreFT_QF7")
                        label FT
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel QF8" id="flaglabel_QF8")
                    div(class="countrylabel QF8" id="countrylabel_QF8")
                    div(class="score" id="scoreP_QF8")
                        label P
                    div(class="score" id="scoreOT_QF8")
                        label OT
                    div(class="score" id="scoreFT_QF8")
                        label FT
      div(class="round") Semi-finals
        div(class="matchSemi" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel SF1" id="flaglabel_SF1")
                    div(class="countrylabel SF1" id="countrylabel_SF1")
                    div(class="score" id="scoreP_SF1")
                        label P
                    div(class="score" id="scoreOT_SF1")
                        label OT
                    div(class="score" id="scoreFT_SF1")
                        label FT
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel SF2" id="flaglabel_SF2")
                    div(class="countrylabel SF2" id="countrylabel_SF2")
                    div(class="score" id="scoreP_SF2")
                        label P
                    div(class="score" id="scoreOT_SF2")
                        label OT
                    div(class="score" id="scoreFT_SF2")
                        label FT
        div(class="matchSemi" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel SF3" id="flaglabel_SF3")
                    div(class="countrylabel SF3" id="countrylabel_SF3")
                    div(class="score" id="scoreP_SF3")
                        label P
                    div(class="score" id="scoreOT_SF3")
                        label OT
                    div(class="score" id="scoreFT_SF3")
                        label FT
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel SF4" id="flaglabel_SF4")
                    div(class="countrylabel SF4" id="countrylabel_SF4")
                    div(class="score" id="scoreP_SF4")
                        label P
                    div(class="score" id="scoreOT_SF4")
                        label OT
                    div(class="score" id="scoreFT_SF4")
                        label FT
      div(class="round") Final
        div(class="matchFinal" style="height: 120px;")
            div(class="teamContainer np" style="top: 50px;")
                div(class="team" data-teamid="1" data-resultid="team-1")
                    div(class="flaglabel FF1" id="flaglabel_FF1")
                    div(class="countrylabel FF1" id="countrylabel_FF1")
                    div(class="score" id="scoreP_FF1")
                        label P
                    div(class="score" id="scoreOT_FF1")
                        label OT
                    div(class="score" id="scoreFT_FF1")
                        label FT
                div(class="team" data-teamid="2" data-resultid="team-2")
                    div(class="flaglabel FF2" id="flaglabel_FF2")
                    div(class="countrylabel FF2" id="countrylabel_FF2")
                    div(class="score" id="scoreP_FF2")
                        label P
                    div(class="score" id="scoreOT_FF2")
                        label OT
                    div(class="score" id="scoreFT_FF2")
                        label FT