extends layout

block content
    div(class="container")
        div(class="jumbotron text-center")
            h1= title
            a(href="/login" class="btn btn-default") Login
                span(class="fa fa-user") 
            a(href="/signup" class="btn btn-default") Signup
                span(class="fa fa-user") 