extends layout

block content
    div
        h1. Altinn World Cup LEADERBOARD after the 13th match
    br
    div
        table#leaderboard(class="bordered")
            thead
                tr
                    th #
                    th Username
                        ul#company-filter
                            li: a(href="/leaderboard") ALL
                            li: a(href="/leaderboard?company=ACN") Accenture
                            li: a(href="/leaderboard?company=AVA") Avanade
                            li: a(href="/leaderboard?company=AAS") Avdeling for Altinn og Seres                            
                            li: a(href="/leaderboard?company=BF") Basefarm
                    th Points from group stage
                    th Points from final stage
                    th Total points
            each entry, i in leaderboard
                tr
                    td
                        if entry.value.totalPoints != _oldpoints
                            - _oldpoints = entry.value.totalPoints
                            - _place = i +1
                            p=_place
                        else
                            p=_place
                        //p='(' + (i+1) + ')'
                    td
                        a(href="/gamesresult?id=" + entry.value.uuid, id="linkToUser")
                            p=entry.value.name + ' ['+entry.value.company+']'
                    td 
                        p=entry.value.groupPoints
                    //td
                        //p=entry.value.finalPoints
                    //td
                        //p=entry.value.totalPoints
